@import '../../App.scss';

.banner_sec{
    width: 100%;
    height: 100vh;
    background-color: #ebebeb;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .banner_sec_inner{
        width: 100%;
        height: calc(100vh - 68px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        h1{
            font-family: 'Uncial Antiqua';
            font-size: 150px;
            font-weight: 400;
            white-space: nowrap;
            transform: translateX(0);
            animation: a-text-scroll 15s linear infinite;
            margin-right: 100px;
            transition: all 0.4s ease-in-out;
        }
        @keyframes a-text-scroll {
            100% {
                transform: translate3d(-100%, 0, 0);
                transition: all 0.4s ease-in-out;
            }

            50% {
                transform: translate3d(-50%, 0, 0);
                transition: all 0.4s ease-in-out;
            }

            0% {
                transform: translate3d(0%, 0, 0);
                transition: all 0.4s ease-in-out;
            }
        }
    }
}

.about_section{
    width: 100%;
    background: #050505;
    padding: 100px 0;
    .about_section_heading{
        width: 100%;
        display: flex;
        gap: 100px;
        -webkit-gap: 100px;
        -o-gap: 100px;
        -moz-gap: 100px;
        .about_heading{
            h4{
                color: #fff;
                font-family: 'Secular', sans-serif;
                font-weight: 700;
                font-size: 81px;
            }
        }
        .about_content{
            p{
                color: #fff;
                font-family: 'poppins', sans-serif;
                font-size: 20px;
                line-height: 45px;
            }
            .about_buttons{
                width: 100%;
                display: flex;
                gap: 40px;
                -webkit-gap: 40px;
                -moz-gap: 40px;
                -o-gap: 40px;
                flex-wrap: wrap;
                margin-top: 60px;
                a{
                    background: #111111;
                    border: 1px solid #1A1A1A;
                    border-radius: 20px;
                    width: 100%;
                    min-width: 253px;
                    max-width: 253px;
                    height: 100%;
                    min-height: 86px;
                    max-height: 86px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    text-decoration: none;
                    font-size: 20px;
                    transition: all 0.4s ease-in-out;
                    &.orange{
                        transition: all 0.4s ease-in-out;
                        &:hover{
                            background: #F29556;
                            transition: all 0.4s ease-in-out;
                        }    
                    }
                    &.yellow {
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            background: #FFD345;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    &.red {
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            background: #E6103A;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    &.lightblue {
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            background: #33CBD7;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    &.green {
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            background: #7AEA78;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    &.purple {
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            background: #E742DD;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

.super_creative_section{
    width: 100%;
    padding: 100px 0;
    background: #E7E7E7;
    .super_creative_inner{
        border: 2px solid #000;
        border-radius: 20px;
        display: flex;
        overflow: hidden;
        padding: 50px 0;
        h3{
            font-size: 91px;
            white-space: nowrap;
            animation: a-text-scroll 18s linear infinite;
            margin-right: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            span{
                position: relative;
                left: 20px;
            }
        }
        @keyframes a-text-scroll {
            100% {
                transform: translate3d(-100%, 0, 0);
                transition: all 0.4s ease-in-out;
            }

            50% {
                transform: translate3d(-50%, 0, 0);
                transition: all 0.4s ease-in-out;
            }

            0% {
                transform: translate3d(0%, 0, 0);
                transition: all 0.4s ease-in-out;
            }
        }
    }    
    .project_section{
        width: 100%;
        padding: 60px 0;
        position: sticky;
        top: 0;
        background: #E7E7E7;
        border-bottom: 1px solid #000;
        z-index: 2;
        h4{
            font-size: 60px;
            font-weight: 700;
            span{
                margin-right: 15px;
            }
        }
    }
    .verticle-line{
        margin-top: 50px;
        margin-bottom: 40px;
        border: 1px solid #000;
        opacity: 100%;
    }
    .experience_descipline {
        width: 100%;
        display: flex;
        gap: 100px;
        margin: 50px 0;
        .experience{
            h4{
                font-size: 20px;
                margin-bottom: 20px;
            }
            p{
                font-size: 16px;
            }
            a{
                border: 1px solid #000;
                border-radius: 10px;
                padding: 7px;
                color: #000;
                text-decoration: none;
                font-size: 16px;
                margin-right: 20px;
                .industy_wrap {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .projects_view{
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 128px;
        align-items: center;
        border-bottom: 1px solid #000;
        transition: all 0.4s ease-in-out;
        padding: 20px;
        position: relative;
        .fml_project_img{
            position: absolute;
            content: "";
            left: 40%;
            top: -68px;
            border: 11px solid #fff;
            border-radius: 20px;
            display: none;
            transition: all 0.4s ease-in-out;
            -moz-animation-name: showEffect;
            -moz-animation-iteration-count: 1;
            -moz-animation-timing-function: ease-in;
            -moz-animation-duration: 2.3s;
        
            -webkit-animation-name: showEffect;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-timing-function: ease-in;
            -webkit-animation-duration: 2.3s;
        
            animation-name: showEffect;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 2.3s;
        }
        &:hover{
            background: #000;
            transition: all 0.4s ease-in-out;
            button {
                background: #fff;
                border: 1px solid #fff;
                color: #000;
            }
            .fml_project_img {
                display: block;
                transition: all 0.4s ease-in-out;
                -moz-animation-name: showEffect;
                -moz-animation-iteration-count: 1;
                -moz-animation-timing-function: ease-in;
                -moz-animation-duration: 2.3s;
            
                -webkit-animation-name: showEffect;
                -webkit-animation-iteration-count: 1;
                -webkit-animation-timing-function: ease-in;
                -webkit-animation-duration: 2.3s;
            
                animation-name: showEffect;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 2.3s;
                img{
                    width: 100%;
                    max-width: 404px;
                    min-height: 303px;
                    border-radius: 10px;
                }
            }
            .project_view_wrap{
                svg{
                    fill: #fff;
                }
                h4{
                    color: #fff;
                }
                hr{
                    border: 1px solid #fff;
                }
            }
        }
        button{
            background: transparent;
            border: 1px solid #000;
            color: #000;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .project_view_wrap{
            display: flex;
            gap: 10px;
            align-items: center;
            .horizontal-line {
                width: 1px;
                height: 30px;
                border: 1px solid #000;
                z-index: 0;
            }
        }
    }
}

.tools_section{
    width: 100%;
    background: #E7E7E7;
    .tools_heading{
        width: 100%;
        margin-bottom: 50px;
        h4{
            font-size: 60px;
            font-weight: 700;
            span{
                margin-right: 15px;
            }
        }
    }
    .figma {
        width: 100%;
        background-color: #000;
        min-height: 446px;
        max-height: 446px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 25px 0 0;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        &.adobe{
            background-color: #A0FFD7;
            h4{
                color: #F44336;
            }
        }
        &.sketch {
            background-color: #28F2FF;

            h4 {
                color: #000;
            }
        }
        &.webflow {
            background-color: #fff;

            h4 {
                color: #000;
            }
        }
        h4{
            color: #fff;
            font-size: 35px;
            margin-top: 30px;
            font-weight: 700;
        }
    }
}

.catchme{
    width: 100%;
    background: #E7E7E7;
    padding: 50px 0;
    .catchme_text{
        width: 100%;
        height: 100%;
        min-height: 502px;
        max-height: 502px;
        background-color: #000;
        background-image: url(../../Images/catch-image.png);
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        padding: 50px 100px;
        overflow: hidden;
        h4{
            color: #fff;
            font-size: 60px;
            max-width: 450px;
        }
        
    }    
}

.footer_rudraksh_marque{
    width: 100%;
    background-color: #E7E7E7;
    padding-bottom: 50px;
    .inner_content{
        width: 100%;
        min-height: 236px;
        border-radius: 20px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        h4{
            font-size: 150px;
            font-family: 'Uncial Antiqua';
            font-weight: 400;
            white-space: nowrap;
            transform: translateX(0);
            animation: a-text-scroll 15s linear infinite;
            margin-right: 100px;
            transition: all 0.4s ease-in-out;
        }
        @keyframes a-text-scroll {
            100% {
                transform: translate3d(-100%, 0, 0);
                transition: all 0.4s ease-in-out;
            }

            50% {
                transform: translate3d(-50%, 0, 0);
                transition: all 0.4s ease-in-out;
            }
            0% {
                transform: translate3d(0%, 0, 0);
                transition: all 0.4s ease-in-out;
            }
        }
    }
}

footer{
    width: 100%;
    background: #E7E7E7;
    padding: 50px 0;
    .email-rudraksh{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            color: #000;
            font-size: 20px;
        }
    }
    .social_links{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        a{
            width: 48%;
            border: 1px solid #000;
            border-radius: 10px;
            padding: 10px;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 20px;

        }
    }
}

@media (min-width:769px) and (max-width: 1023px){
    .banner_sec .banner_sec_inner img {
        height: auto;
    }
    .about_section .about_section_heading {
        gap: 30px;
        flex-direction: column;
    }
    .about_section .about_section_heading .about_content .about_buttons a {
        width: 100%;
        min-width: 45%;
        max-width: 45%;
    }
    .super_creative_section .experience_descipline {
        gap: 60px;
    }
    span.industy_wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .super_creative_section .experience_descipline .experience a {
        margin-right: 0;
    }
}

@media(min-width: 320px) and (max-width:768px){
    .footer_rudraksh_marque {
        padding-bottom: 0;
    }
    footer {
        padding-top: 0;
    }
    footer .email-rudraksh {
        padding-bottom: 40px;
        justify-content: center;
    }
    footer .social_links a {
        width: 100%;
    }
    .about_section .about_section_heading {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .about_section .about_section_heading .about_content .about_buttons a {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .super_creative_section .experience_descipline {
        gap: 30px;
        flex-direction: column;
    }
    span.industy_wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .super_creative_section .experience_descipline .experience a {
        margin-right: 0;
    }
    .super_creative_section .experience_descipline .experience h4 {
        margin-bottom: 20px;
    }
    .super_creative_section .projects_view .project_view_wrap {
        gap: 20px;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
    }
    .project_view_wrap svg {
        display: none;
    }
    .project_view_wrap hr {
        display: none;
    }
    .super_creative_section .projects_view {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .super_creative_section .projects_view .project_view_wrap h4 {
        font-size: 20px;
        text-align: center;
    }
    .super_creative_section .projects_view button {
        width: 100%;
    }
    .super_creative_section .projects_view .fml_project_img {
        left: 8%;
        top: -98px;
        right: 23px;
        z-index: 2;
    }
    .catchme .catchme_text h4 {
        font-size: 30px;
        max-width: 100%;
    }
    .catchme .catchme_text {
        padding: 30px 20px;
        flex-direction: column;
    }
    .banner_sec .banner_sec_inner img {
        height: auto;
    }
}